= javascript_include_tag :tabs
= stylesheet_link_tag :tabs

= title_is
.page-header
  %h1=t '.title'
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    %li
      = link_to "#{t('.active')} / #{@active_requests.count}", '#active'
    %li
      = link_to "#{t('.confirmed_by_admin')} / #{@confirmed_by_admin_requests.count}", '#confirmed_by_admin'
    %li
      = link_to "#{t('.fair_participant_approved')} / #{@fair_participant_approved_requests.count}", '#fair_participant_approved'
    %li
      = link_to "#{t('.fair_participant_declined')} / #{@fair_participant_declined_requests.count}", '#fair_participant_approved'
    %li
      = link_to "#{t('.reserve_schoolers')}/ #{@reserve_schoolers_requests.count}", '#reserve_schoolers'
  #confirmed_by_admin
    = render 'fair_parts_list', fair_parts: @confirmed_by_admin_requests
  #fair_participant_approved
    = render 'fair_parts_list', fair_parts: @fair_participant_approved_requests
  #fair_participant_declined
    = render 'fair_parts_list', fair_parts: @fair_participant_declined_requests
  #active
    = render 'fair_parts_list', fair_parts: @active_requests
  #reserve_schoolers
    = render 'fair_parts_list', fair_parts: @reserve_schoolers_requests
