= javascript_include_tag :tabs
= stylesheet_link_tag :tabs

= title_is
.page-header
  %h1=t '.title'
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    %li
      = link_to "#{t('.active')} / #{@active_requests.count}", '#active'
    %li
      = link_to "#{t('.confirmed_by_admin')} / #{@confirmed_by_admin_requests.count}", '#confirmed_by_admin'
    %li
      = link_to "#{t('.waiting_confirmation')} / #{@waiting_confirmation_requests.count}", '#waiting_confirmation'
    %li
      = link_to "#{t('.inactive')}/ #{@inactive_requests.count}", '#inactive'
  #confirmed_by_admin
    = render 'fair_parts_list', fair_parts: @confirmed_by_admin_requests
  #waiting_confirmation
    = render 'fair_parts_list', fair_parts: @waiting_confirmation_requests
  #active
    = render 'fair_parts_list', fair_parts: @active_requests
  #inactive
    = render 'fair_parts_list', fair_parts: @inactive_requests
