= title_is

= t('.send_by_email')
= simple_form_for :broadcast , default_form_options(url: broadcast_admin_mailers_path) do |f|
  = f.input :email, as: :string
  = f.input :message, as: :text
  = f.button :submit, t(".send")

%br

= t('.send_for_all')
= simple_form_for :broadcast, default_form_options(url: broadcast_all_admin_mailers_path) do |f|
  = f.input :message, as: :text
  = f.button :submit, t(".send_all")
