.popup.participant_popup{ id: "popup#{participant.id}" }
  .close
    .btn.btn-branded
      X
  .top
    %h2
      = participant.short_name
  .bottom
    .text
      = second_stage_message(participant)
    %table
      %tr
        %td.avatar
          = image_tag participant.avatar.medium, class: 'img-rounded'
        %td.info
          .age
            = participant.age
          .home_city
            = participant.home_city
          .school
            = participant.school
    %hr
    .popup_social_buttons
      = render 'layouts/web/shared/social_buttons'
