.winner_cell.main_avatar{ data: { winner: { id: i }, href: new_user_path }, id: "winner_cell_#{i}", class: klass }
  .winner_year
    %span
      = "#{2003 + i}"
  .winner_avatar{ style: "background-image: url('#{image_path("winners/#{i}.png")}'); background-repeat: no-repeat", data: { toggle: :tooltip, placement: :bottom, original: { title: winner_info(i)} } }
.winner_info{ id: "winner_info_#{i}" }
  .winner_avatar.in_info{ style: "background-image: url('#{image_path("winners/#{i}.png")}'); background-repeat: no-repeat", data: { winner: { id: i } } }
  .winner_info_text
    != winner_info(i)
