.winner_cell.main_avatar{ data: { winner: { id: participant.id } }, id: "winner_cell_#{participant.id}" }
  .winner_avatar{ style: "background-image: url('#{participant.avatar}'); background-repeat: no-repeat" }
.winner_info{ id: "winner_info_#{participant.id}" }
  .winner_avatar.in_info{ style: "background-image: url('#{participant.avatar}'); background-repeat: no-repeat", data: { winner: { id: participant.id } } }
  .winner_info_text
    != winner_info(participant.id)
