= title_is_hard t('contest.full_name')
= stylesheet_link_tag 'web/welcome'
= javascript_include_tag 'web/welcome'
- content_for :top_social_buttons do
  .top_social_buttons
    = render 'layouts/web/shared/social_buttons'
.row.winners_row
  .col-md-12
    .winners_images_button.link{ data: { href: '#' } }
      = '2002 - 2014'
    .winners_images
      - (0..12).each do |i|
        - if i == 12
          = render 'winner_cell', i: i, klass: 'link'
        - else
          = render 'winner_cell', i: i, klass: ''
.row
  .col-md-12
    .title
      %h1
        = t('contest.full_name')
.row
  .col-md-offset-1.col-md-4.send_request_button_row
    = link_to new_user_path, class: 'btn btn-very-lg btn-branded' do
      = t('.send_request')
.row.for_news
  - @last_news.each do |news|
    .col-md-4.news.link{ data: { href: news_path(news) } }
      .title
        = news.title
      .body
        = image_tag news.photo
        != strip_tags news.lead
.row.plaha
  .col-md-6.text.left
    .title
      Конкурс актива учащейся молодежи «Я - лидер!»
    Это уникальная образовательная площадка Ульяновской области, которая способна подготовить из любого человека лидера общественного сектора.
  .col-md-6.image.left
    = image_tag 'main/1.jpg'
.row.plaha.full_width
  .col-md-6.image.left
    = image_tag 'main/2.jpg'
  .col-md-6.text.right
    .title
      Кто может стать участником конкурса?
    Учащиеся средних общеобразовательных учреждений, учреждений начального и среднего профессионального образования Приволжского федерального округа в возрасте от 14 лет до 21 года.
.row.plaha
  .col-md-6.text.left
    .title
      Главный приз
    Победитель финального этапа становится кандидатом на получение президентской стипендии по поддержке талантливой молодёжи в рамках нацпроекта "Образование" в размере 30 000 рублей.
  .col-md-6.image.right
    = image_tag 'main/3.jpg'
.row.plaha.full_width
  .col-md-6.image.logos
    = image_tag 'main/4.jpg'
  .col-md-6.text.right
    .title
      Организаторы конкурса
    Организаторами XIII конкурса «Я-лидер» выступают:
    %br
    = link_to t('contest.organization_short_title'), configus.sites.ulmic, target: '_blank'
    %br
    = link_to t('contest.partners.new_civilization_short_title'), configus.sites.ulnc, target: '_blank'
    %br
    = link_to t('contest.partners.ministry_of_education'), configus.sites.ministry_of_edu, target: '_blank'
.row.plaha.last-plaha
  .col-md-6.text.left
    .title
      Расширение для браузера Google Chrome
    = link_to 'Рабочее расширение', configus.chrome_extension.url
    следует установить себе всем участникам и тем, кто хочет знать самые последние новости о конкурсе.
  .col-md-6.image.right.web-store-logo
    = image_tag 'availale_in_chrome_web_store.png', class: 'link', data: { href: configus.chrome_extension.url }

.row
  .social_buttons
    %span
      = t('.share_us')
    %br
    = render 'layouts/web/shared/social_buttons'
