= title_is_hard t('contest.full_name')
- content_for :meta do
  %meta{ property: 'og:description', content: "#{t('contest.full_name')}" }
  %meta{ name:'description', content: "#{t('contest.full_name')}" }
  %meta{ name: "google-site-verification", content: "UQDwT4uM9-1bXt9jvXHVOeDT2ifyo8wboHFreC-quJQ" }
- content_for :top_social_buttons do
  .top_social_buttons
    = render 'layouts/web/shared/social_buttons'
.row
  .col-md-12
    .title
      %h1
        = t('contest.full_name')
.row.participants_row
  .col-md-12.participants_cols
    .participants_images
      - @participants.each do |participant|
        = render 'participant_cell', participant: participant
%hr
.row
  .auth_button_row
    = link_to t('.events'), events_path, class: 'btn btn-branded'
%hr
.row.vimeo_video
  .col-md-12
    = render 'vimeo_video'
.row.for_news
  - @last_news.each do |news|
    .col-md-4.news.link{ data: { href: news_path(news) } }
      .title
        = news.title
      .body
        = image_tag news.photo
        = strip_tags news.lead
.row.plaha
  .col-md-6.text.left
    .title
      Конкурс актива учащейся молодежи «Я - лидер!»
    Это уникальная образовательная площадка Ульяновской области, которая способна подготовить из любого человека лидера общественного сектора.
  .col-md-6.image.left
    - if mobile_device?
      = image_tag 'main/mobile/1.jpg'
    - else
      = image_tag 'main/1.jpg'
.row.plaha.full_width
  .col-md-6.image.left
    - if mobile_device?
      = image_tag 'main/mobile/2.jpg'
    - else
      = image_tag 'main/2.jpg'
  .col-md-6.text.right
    .title
      Кто может стать участником конкурса?
    Учащиеся средних общеобразовательных учреждений, учреждений начального и среднего профессионального образования Приволжского федерального округа в возрасте от 14 лет до 21 года.
.row.plaha
  .col-md-6.text.left
    .title
      Главный приз
    Победитель финального этапа становится кандидатом на получение президентской стипендии по поддержке талантливой молодёжи в рамках нацпроекта "Образование" в размере 30 000 рублей.
  .col-md-6.image.right
    - if mobile_device?
      = image_tag 'main/mobile/3.jpg'
    - else
      = image_tag 'main/3.jpg'
.row.plaha.full_width
  .col-md-6.image.logos
    - if mobile_device?
      = image_tag 'main/mobile/4.jpg'
    - else
      = image_tag 'main/4.jpg'
  .col-md-6.text.right
    .title
      Организаторы конкурса
    Организаторами XIII конкурса «Я-лидер» выступают:
    %br
    = link_to t('contest.organization_short_title'), configus.sites.ulmic, target: '_blank'
    %br
    = link_to t('contest.partners.new_civilization_short_title'), configus.sites.ulnc, target: '_blank'
    %br
    = link_to t('contest.partners.ministry_of_education'), configus.sites.ministry_of_edu, target: '_blank'
.row.plaha.last-plaha
  .col-md-6.text.left
    .title
      Расширение для браузера Google Chrome
    = link_to 'Рабочее расширение', configus.chrome_extension.url
    следует установить себе всем участникам и тем, кто хочет знать самые последние новости о конкурсе.
  .col-md-6.image.right.web-store-logo
    - if mobile_device?
      = image_tag 'main/mobile/availale_in_chrome_web_store.png', class: 'link', data: { href: configus.chrome_extension.url }
    - else
      = image_tag 'main/availale_in_chrome_web_store.png', class: 'link', data: { href: configus.chrome_extension.url }

.row
  .social_buttons
    %span
      = t('.share_us')
    %br
    = render 'layouts/web/shared/social_buttons'

= render 'participant_popup'

= stylesheet_link_tag 'popup'
= javascript_include_tag 'popup'
= javascript_include_tag 'web/welcome'
= stylesheet_link_tag 'web/welcome'
