= title_is_hard t('contest.full_name')
= stylesheet_link_tag 'web/welcome'
= javascript_include_tag 'web/welcome'
.winners_images
  - (0..12).each do |i|
    .winner_avatar{ style: "background-image: url('#{image_path("winners/#{i}.png")}'); background-repeat: no-repeat", data: { toggle: :tooltip, placement: :bottom, original: { title: winner_info(i) } } }
.title
  %h1
    = t('contest.full_name')
%section.for_news
  - @last_news.each do |news|
    .news.link{ data: { href: news_path(news) } }
      .title
        = news.title
      .body
        = image_tag news.photo
        != strip_tags news.lead
%section.first
  .text.left
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
  .image.right
    = image_tag 'main/1.jpg'
%section.second
  .image.left
    = image_tag 'main/1.jpg'
  .text.right
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
%section.third
  .text.left
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
  .image.right
    = image_tag 'main/1.jpg'
