= title_is_hard t('contest.full_name')
= stylesheet_link_tag 'web/welcome'
= javascript_include_tag 'web/welcome'
.row.winners_row
  .col-md-12
    .winners_images_button.link{ data: { href: '#' } }
      = '2002 - 2014'
    .winners_images
      - (0..12).each do |i|
        .winner_avatar.main_avatar{ style: "background-image: url('#{image_path("winners/#{i}.png")}'); background-repeat: no-repeat", data: { toggle: :tooltip, placement: :bottom, original: { title: winner_info(i)}, winner: { id: i } }, id: "winner_avatar_#{i}" }
          .winner_year
            %span
              = "#{2003 + i}"
        .winner_info{ id: "winner_info_#{i}" }
          .winner_avatar.in_info{ style: "background-image: url('#{image_path("winners/#{i}.png")}'); background-repeat: no-repeat", data: { winner: { id: i } } }
          .winner_info_text
            != winner_info(i)
.row
  .col-md-12
    .title
      %h1
        = t('contest.full_name')
.row.for_news
  - @last_news.each do |news|
    .col-md-4.news.link{ data: { href: news_path(news) } }
      .title
        = news.title
      .body
        = image_tag news.photo
        != strip_tags news.lead
.row.first
  .col-md-6.text.left
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
    Текст по теме: Что это такое? До 100 символов.
  .col-md-6.image.left
    = image_tag 'main/1.jpg'
.row.second
  .col-md-6.image.left
    = image_tag 'main/2.jpg'
  .col-md-6.text.right
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
    Текст по теме: Что за это будет? До 100 символов.
.row.third
  .col-md-6.text.left
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
    Текст по теме: Кто может стать участником? До 100 символов.
  .col-md-6.image.right
    = image_tag 'main/3.jpg'
