.hat_text
  Все, что нужно для того, чтобы принять участие в конкурсе «Я-лидер!» и сделать первый шаг для больших побед - заполнить данную анкету. Согласно правилам конкурса, для прохождения в следующий этап тебе нужно прикрепить творческую работу вместе с заявкой до 22 января 2016 года. Творческая работа должна раскрывать тему «Секрет лидера состоит в том, чтобы…» и быть выполненной в следующих формах:
  %ul
    %li Видео-ролик
    %li Компьютерная презентация
    %li Эссе
  Работа на конкурс может быть собственным творческим решением:
  %ul
    %li Песня собственного сочинения
    %li Стихотворение
    %li Сказка
    %li Сценарий спектакля
    %li Комикс
    %li Компьютерное приложение
    %li Макет и любые другие авторские решения.
  Собственное творческое решение: песня собственного сочинения, стихотворение, сказка, сценарий спектакля, комикс, компьютерное приложение, макет и любые другие авторские решения. Есть два способа отправить свою работу:
  %ol
    %li Загрузить файл. Максимальный размер файл 25 мегабайт. Если файл превышает указанный размер, он не будет загружен.
    %li
      Отправить публичную ссылку на файл в одной из облачных систем:
      = link_to 'Dropbox', 'http://dropbox.com'
      = ', '
      = link_to 'Google Drive', 'http://drive.google.com'
      = ', '
      = link_to 'OneDrive', 'http://onedrive.com'
      = ', '
      = link_to 'iCloud', 'http://icloud.com'
      или загрузить на видео на
      = link_to 'YouTube', 'http://youtube.com'
      = ', '
      = link_to 'Vimeo', 'http://vimeo.com'
      и т.д. Если ссылка будет вести на файл, не имеющий настроек доступа "По ссылке", работа будет считаться непринятой.
    Вы обязательно должны воспользоваться одним способом, а также можете воспользоваться сразу двумя способами.
  На основании оценок жюри, авторы 120 лучших работ переходят к участию во II этапе конкурса. Список с именами победителей I этапа будет размещён на сайте
  = link_to configus.sites.ulmic, configus.sites.ulmic
  и
  = link_to configus.sites.this, configus.sites.this
  и направлен в муниципальные образования не позднее 10 февраля 2016 г.
  %h4
    Удачи!

  А теперь, переходи к заполнению заявки. После заполнения заявки на указанную тобой электронную почту будет отправлено письмо для подтверждения. Если письмо в течение 10 минут не пришло на почту, проверь папку "Спам" в твоём почтовом сервисе. После того, как ты подтвердишь электронную почту администрация сайта в скором времени подтвердит и опубликует твою анкету-заявку.
