= title_is
- titles = ::User::Field.title.values
= stylesheet_link_tag 'web/users'
= javascript_include_tag 'web/filings'
= javascript_include_tag 'web/users'
- content_for :header do
  %h3
    = t('.hello_participant_text')

.row
  .col-md-11
    = render 'hat'

= render 'layouts/web/shared/errors', object: @user

.row
  .col-md-6.col-md-offset-2
    = simple_form_for @user, url: users_path(params.extract(:from)), html: { class: 'form-horizontal' } do |f|
      = f.hint t('hints.users.new.require_fields')
      = f.input :email, placeholder: t('placeholders.user.email')
      = f.input :password, placeholder: t('placeholders.user.password')
      = link_to t('.password_reveal'), '#', class: 'btn btn-xs password_reveal'
      = f.input :first_name
      = f.input :patronymic, as: :string
      = f.input :last_name
      = f.input :birth_date, as: :date_picker
      = f.input :municipality
      = f.input :locality, as: :string, placeholder: t('placeholders.user.locality')
      = f.input :school, as: :select, placeholder: t('placeholders.user.school'), collection: @schools
      = f.input :group, as: :string
      = f.input :home_phone, as: :string, placeholder: t('placeholders.user.home_phone')
      = f.input :mobile_phone, as: :string, placeholder: t('placeholders.user.mobile_phone')
      = f.input :avatar
      = f.input :contest_year, as: :hidden, input_html: { value: configus.current_contest_year }
      = f.input :state, as: :hidden, input_html: { value: User.state_machines[:state].states.map(&:name).first }
      = f.input :creative_work, as: :file
      = f.simple_fields_for :fields do |ff|
        = ff.input :title, as: :hidden
        = ff.input :value_type, as: :hidden, input_html: { value: :text }
        = label :value, "* #{t("enumerize.user/field.title.#{titles[ff.index]}")}"
        = ff.input :value, as: :text, label: false
        - if @user.id.present?
          = ff.input :user_id, as: :hidden, input_html: { value: @user.id }
      %b
        != t('hints.users.new.accept_agreement')
      .boolean
        = check_box_tag :accept_agreement
      = f.label :accept_personal_data_actions
      .boolean
        = check_box_tag :accept_personal_data_actions
      %br
      = f.button :submit, t('.send_request'), id: 'send_request', data: { disabled: { info: t('.you_should_enter_one_of_creative_works_inputs') } }
