%footer
  %br
    .row
      .col-md-1.logo
        = link_to "http://ulmic.ru" do
          = image_tag 'main/logo-mic.png'
      .col-md-4
        &copy
        = copyright_notice_year_range 2013
        = t('contest.organization')
        %br
        = link_to 'http://ulmic.ru', 'http://ulmic.ru', target: '_blank'
        %br
        = link_to t('application.developers'), 'https://github.com/ulmic', target: '_blank'
        %br
        = link_to t('application.github_link'), 'https://github.com/ulmic/ul-lider', target: '_blank'
      .col-md-3
        = link_to t('.send_request'), new_user_path
        %br
        = link_to t('.news'), news_index_path
        %br
        = link_to t('.definition'), "/pages/the_competition"
        %br
        = link_to configus.sites.year_2014 do
          = t('contest.2014_year.name')
      .col-md-3
        = link_to configus.chrome_extension.url, target: "_blank" do
          = image_tag 'availale_in_chrome_web_store.png', class: :store_logo
