%title= yield :title
= yield :meta
%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
= favicon_link_tag 'favicon.ico'
= csrf_meta_tags
= stylesheet_link_tag "vendor", media: "all", debug: false
= stylesheet_link_tag "application"

= javascript_include_tag "vendor", debug: false
= javascript_include_tag "application"
= render 'layouts/web/shared/google_analytics'
