%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse",
      "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = t('application.name')
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      = menu_item new_user_path do
        = t('.send_request')
        %span.glyphicon.useradd
    %ul.nav.navbar-nav.pull-right
      = menu_item 'http://2014.ul-lider.ru' do
        2014
      -#= menu_item new_session_path do
        = t('.sign_in')
        %span.glyphicon.log_in
