%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = image_tag 'main/logo-yal.png', class: 'navbar-header-image'
      %span
        = t('application.attributes.name')
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      - if filling_time?
        = menu_item t('.send_request'), new_user_path
      = menu_item '/pages/provision' do
        = t('contest.definition')
    %ul.nav.navbar-nav.pull-right
      - if signed_as_admin?
        = menu_item admin_root_path do
          = t('.admin_panel')
          = new_participants_count
        = menu_item session_path, method: :delete do
          = t('.sign_out')
      -#= menu_item new_session_path do
        = t('.sign_in')
        %span.glyphicon.log_in
