%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = image_tag 'main/logo-yal.png', class: 'navbar-header-image'
      %span
        = t('application.attributes.name')
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      -#= menu_item fair_participants_path do
        = t('.fair_participants')
      = menu_item news_index_path do
        = t('.news')
      = menu_item '/pages/the_competition' do
        = t('contest.definition')
    %ul.nav.navbar-nav.pull-right
      = menu_item configus.sites.year_2014 do
        2014
      - if signed_as_admin?
        = menu_item admin_root_path do
          = t('.admin_panel')
          = new_participants_count
        = menu_item session_path, method: :delete do
          = t('.sign_out')
      -#= menu_item new_session_path do
        = t('.sign_in')
        %span.glyphicon.log_in
