- model_class = User
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:full_name)
      %th= model_class.human_attribute_name(:birth_date)
      %th= model_class.human_attribute_name(:place)
      %th= model_class.human_attribute_name(:school_group)
      %th= model_class.human_attribute_name(:contacts)
      %th= model_class.human_attribute_name(:creative_work)
      %th= model_class.human_attribute_name(:average)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.id, edit_admin_user_path(user)
        %td= image_tag user.avatar.small
        %td
          = link_to user.full_name, edit_admin_user_path(user)
          %br
          - if user.confirmed_by_admin?
            = link_to t('.push_to_second_stage'), push_to_second_stage_admin_user_path(user), method: :patch, class: 'btn btn-success btn-xs'
          - if user.second_stage_approved?
            %span.label.label-success
              = t('.approved')
            = link_to t('.push_to_third_stage'), admin_user_path(user, user: { state: :on_third_stage }), method: :patch, class: 'btn btn-success btn-xs'
          - elsif user.fair_participant_declined?
            %span.label.label-danger
              = t('.declined')
          - if user.on_third_stage?
            = link_to t('.push_to_final_stage'), admin_user_path(user, user: { state: :on_final_stage }), method: :patch, class: 'btn btn-success btn-xs'
        %td= user.formated_birth_date
        %td= user.place
        %td= user.school_group
        %td= user.contacts
        %td
          - if user.creative_work.present?
            = link_to t('.creative_work'), user.creative_work.url
          - if user.url_creative_work.present?
            = link_to t('.url_creative_work'), user.url_creative_work
        %td
          %h3
            = user.average
        %td
          - if user.second_stage_approved?
            = simple_form_for user, url: { controller: 'web/admin/users', action: :edit_average, id: user.id }, method: :patch do |f|
              = f.input :average
              = f.button :submit, t('.update_average'), class: 'btn btn-xs'
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admin_user_path(user), class: 'btn btn-warning btn-xs'
          = link_to t('.destroy', default: t("helpers.links.destroy")), admin_user_path(user), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs btn-danger'

= link_to t('.new', default: t("helpers.links.new")), new_admin_user_path, class: 'btn btn-primary'
