= javascript_include_tag :tabs
= stylesheet_link_tag :tabs

= title_is
.page-header
  %h1=t '.title'
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    %li
      = link_to "#{t('.active')} / #{@active_users.count}", '#active'
    %li
      = link_to "#{t('.confirmed_by_admin')} / #{@confirmed_by_admin_users.count}", '#confirmed_by_admin'
    %li
      = link_to "#{t('.waiting_confirmation')} / #{@waiting_confirmation_users.count}", '#waiting_confirmation'
    %li
      = link_to "#{t('.inactive')}/ #{@inactive_users.count}", '#inactive'
  #confirmed_by_admin
    = render 'users_list', users: @confirmed_by_admin_users
  #waiting_confirmation
    = render 'users_list', users: @waiting_confirmation_users
  #active
    = render 'users_list', users: @active_users
  #inactive
    = render 'users_list', users: @inactive_users
