- title_is
%table.table
  %tr
    %td
      = t('activerecord.attributes.event.title')
    %td
      = @report.title
  %tr
    %td
      = t('activerecord.attributes.event.goal')
    %td
      = @report.goal
  %tr
    %td
      = t('activerecord.attributes.event.tasks')
    %td
      = @report.tasks
  %tr
    %td
      = t('activerecord.attributes.event.jury')
    %td
      = @report.jury
  %tr
    %td
      = t('activerecord.attributes.event.description')
    %td
      = @report.description
  %tr
    %td
      = t('activerecord.attributes.event.duration')
    %td
      = @report.duration
  %tr
    %td
      = t('activerecord.attributes.event.place')
    %td
      = @report.place
  %tr
    %td
      = t('activerecord.attributes.event.user')
    %td
      = @report.user.decorate.short_name
  %tr
    %td
      = t('activerecord.attributes.event.goal')
    %td
      = @report.goal
  %tr
    %td
      = t('activerecord.attributes.event.participant_count')
    %td
      = @report.participant_count
  %tr
    %td
      = t('activerecord.attributes.event.result_participant_count')
    %td
      = @report.result_participant_count
  %tr
    %td
      = t('activerecord.attributes.event.file')
    %td
      = link_to t('helpers.download'), @report.file.url
  %tr
    %td
      = t('activerecord.attributes.event.pluses')
    %td
      = @report.pluses
  %tr
    %td
      = t('activerecord.attributes.event.minuses')
    %td
      = @report.minuses
  %tr
    %td
      = t('activerecord.attributes.event.can_change')
    %td
      = @report.can_change
  %tr
    %td
      = t('activerecord.attributes.event.work_with_command')
    %td
      = @report.work_with_command
  %tr
    %td
      = t('activerecord.attributes.event.resources')
    %td
      = @report.resources
  %tr
    %td
      = t('activerecord.attributes.event.photo')
    %td
      = link_to @report.photo, @report.photo
  %tr
    %td
      = t('activerecord.attributes.event.video')
    %td
      = link_to @report.video, @report.video
  %tr
    %td
      = t('activerecord.attributes.event.partners')
    %td
      = @report.partners
  %tr
    %td
      = t('activerecord.attributes.event.mass_media')
    %td
      = @report.mass_media
  %tr
    %td
      = t('activerecord.attributes.event.idea')
    %td
      = @report.idea
  %tr
    %td
      = t('activerecord.attributes.event.most_liked')
    %td
      = @report.most_liked
  %tr
    %td
      = t('activerecord.attributes.event.quality')
    %td
      = @report.quality
  %tr
    %td
      = t('activerecord.attributes.event.participants')
    %td
      %ol
        - @report.participants.each do |participant|
          %li
            = "#{participant.first_name} #{participant.last_name} #{participant.phone}"
