= stylesheet_link_tag 'web/events'
- title_is @event.title
- content_for :top_social_buttons do
  .top_social_buttons
    = render 'layouts/web/shared/social_buttons'
.page-header.event-header
  .row
    .col-md-6
      %h2
        = @event.title
    .col-md-6
      .user_button.link{ data: { href: root_path(anchor: @event.user.id) } }
        = @event.user.decorate.short_name
        = image_tag @event.user.avatar.small, class: 'event_avatar'
.row.event
  .col-md-6.event_description
    = @event.description
  .col-md-6
    %table.table
      %tr
        %td
          %h4
            = t('.where')
        %td
          .data
            = @event.place
      %tr
        %td
          %h4
            = t('.when')
        %td
          .data
            = @event.duration
