.row
  .col-md-10
    = simple_form_for @page, url: { controller: 'web/admin/pages', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :view, as: :string
      = f.label :body
      = f.cktext_area :body
      = f.input :slug, placeholder: t('placeholders.page.slug'), as: :string

      = f.button :submit
