.hat_text
  %p
    Привет, участник профильной смены «Ярмарка идей»!
  %p
    Здесь ты можешь заполнить заявку на участие в профильной смене, которая проводится в рамках конкурса актива учащейся молодёжи «Я-лидер!» 2015 года. В этом году для участия в смене проходит конкурсный отбор, так как помимо участников и слушателей образовательной программы на смене будут присутствовать непосредственные участники конкурса, которые прошли во II этап "Я-лидера". Говоря иными словами, в первую очередь на смену будут выделены места для конкурсантов.
  %p
    Также МИЦ компенсирует часть затрат на проживание, питание и транспорт для участников конкурса, прошедших в следующий этап. Поэтому организационный взнос для конкурсантов составит в этом году
    %span.text-warning
      800 рублей
    \, для остальных слушателей программы
    %span.text-warning
      1000 рублей
    \.
  %p
    Просим также обратить ваше внимание на то, что участие в образовательной профильной смене «Ярмарка идей» в качестве слушателя, не даёт возможности перейти в следующий этап конкурса и побороться за президентскую стипендию.
  %p
    Приём заявок на конкурс «Я-лидер!» длится до 1 февраля 2015 года.
    %span.text-warning
      Подать заявку на конкурс можно
      = link_to 'здесь', new_user_path
      \.
  %p
    В программе "Ярмарки идей 2015" тебя ждут мастер-классы и тренинги от экспертов компании
    = link_to 'HeadHunter', 'http://hh.ru', target: '_blank'
    \, который выступает партнёром конкурса в этом году, от тренеров МИЦ, а также ряда коучеров из крупных городов России; психологические и развлекательные игры, дискотеки, обновленные конкурсные испытания, командная работа, массовые вечерние мероприятия и многое другое.
  %p
    Также в рамках 13-ой "Ярмарки идей" состоится празднование 8-летия
    = link_to 'Молодёжного инициативного центра', 'http://ulmic.ru', target: '_blank'
    и вручение корпоративной премии МИЦ - "Признание".
  %p
    На профильную смену «Ярмарка идей» с собой необходимо взять:
    %ol
      %li
        Организационный взнос. Для участников, прошедших во II этап конкурса «Я-лидер!» -
        %span.text-warning 800 рублей
        , для всех остальных участников смены -
        %span.text-warning 1000 рублей
        \. Оплачивается по приезду в лагерь.
      %li
        Заявление о приёме ребёнка в центр "Юность"
        = link_to '(СКАЧАТЬ)', '/Заявление на приём и обработку персональных данных.pdf', target: '_blank'
      %li
        Договор с родителем
        = link_to '(СКАЧАТЬ)', '/Договор с родителями.docx', target: '_blank'
      %li
        Справка с места учёбы (её оформить необходимо в приёмной директора образовательной организации)
      %li
        Ксерокопия свидетельства о рождении или паспорта ребенка
      %li
        Ксерокопия медицинского полиса
      %li
        Информированное добровольное согласие на виды медицинских вмешательств
        = link_to '(СКАЧАТЬ)', '/Согласие на медпомощь.pdf', target: '_blank'
      %li
        Медицинская справка по форме №079/у с указанием сведений об отсутствии педикулеза, чесотки, заразных кожных заболеваний, а также сведений об эпидокружении по дому и учебному заведению (берёте в участковой поликлинике или у школьной медсестры)
      %li
        Заверенный лечебным учреждением Сертификат о профилактических прививках по форме № 156/у-93 (либо ксерокопию)
      %li
        Дети, достигшие 15-летнего возраста, представляют сведения о прохождении флюорографического обследования за текущий календарный год
      %li
        Тёплые и спортивные вещи
      %li
        Средства личной гигиены
  %p
    Напоминаем, дата и место встречи:
    %b
      20-24 февраля , г. Димитровград, ДООЦ "Юность".
  %p
    По всем вопросам обращаться
    %span.text-warning 8-902-246-85-15 (Евгения)
  .text-danger
    Участники, подавшие заявку на областной конкурс актива учащейся молодёжи «Я-лидер!», уже имеют заявку на смену «Ярмарка идей»! Участники конкурса, прошедшие во II этап, автоматически попадают на смену «Ярмарка идей», заявки не прошедших во II этап конкурсантов будут рассмотрены наравне с остальными заявками на смену. Если ты подал заявку на конкурс, не надо отправлять заявку на смену!
