- model_class = User
%table.table.table-striped.table-condensed
  %tbody
    - users.each_with_index do |user, i|
      %tr
        %td= i + 1
        %td= image_tag user.avatar.small
        %td= user.short_name
        %td= user.home_city
        - if user.on_second_stage? or user.second_stage_approved?
          %td= user.average
        - unless user.active?
          %td
            - if user.waiting_confirmation? or user.confirmed_by_admin?
              = simple_form_for user, url: { controller: 'web/fair_participants', action: :update_status, id: user.id }, method: :patch do |f|
                = f.input :first_name, as: :hidden
                = f.input :last_name, as: :hidden
                = f.input :email, label: false, input_html: { value: '' }, placeholder: t('placeholders.fair_participants.approve.email')
                = f.button :submit, t('.approve_fair_participant'), class: 'btn btn-success', style: 'float: left', name: :approve
                = f.button :submit, t('.decline_fair_participant'), class: 'btn btn-danger', style: 'float: left', name: :decline
              = link_to 'Статус участия', '#', class: 'show-approve-form', data:{ id: user.id  }, style: 'margin-top: -2px; margin-left: 5px'
            - elsif user.fair_participant_approved?
              %span.label.label-success
                = t('.approved')
            - elsif user.on_second_stage?
              = simple_form_for user, url: { controller: 'web/users', action: :update_status, id: user.id }, method: :patch do |f|
                = f.input :first_name, as: :hidden
                = f.input :last_name, as: :hidden
                = f.input :email, label: false, input_html: { value: '' }, placeholder: t('placeholders.fair_participants.approve.email')
                = f.button :submit, t('.approve_fair_participant'), class: 'btn btn-success', style: 'float: left', name: :approve
                = f.button :submit, t('.decline_fair_participant'), class: 'btn btn-danger', style: 'float: left', name: :decline
              = link_to 'Статус участия', '#', class: 'show-approve-form', data:{ id: user.id  }, style: 'margin-top: -2px; margin-left: 5px'
            - elsif user.second_stage_approved?
              %span.label.label-success
                = t('.approved')
