- title_is 'Участники профильной смены «Ярмарка идей»'
.page-header
  %h2
    = 'Участники профильной смены «Ярмарка идей»'
  = render 'layouts/web/shared/social_buttons'
= render 'users_list', users: @users
%hr
-#%h2
  = 'Резервный список'
-#= render 'users_list', users: @reserve_users
= render 'layouts/web/shared/social_buttons'
