= javascript_include_tag 'web/fair_participants'
- title_is 'Участники профильной смены «Ярмарка идей»'
.page-header
  %h2
    = 'Участники прошедшие во II этап конкурса «Я-лидер!»'
  = render 'layouts/web/shared/social_buttons'
= render 'users_list', users: @second_stage_users
%hr
%h2
  = 'Участники профильной смены «Ярмарка идей». Вне конкурса «Я-лидер!»'
= render 'users_list', users: @users
%hr
- if @reserve_users.any?
  %h2
    = 'Резервный список'
  = render 'users_list', users: @reserve_users
= render 'layouts/web/shared/social_buttons'
