= title_is
= stylesheet_link_tag 'web/users'
= javascript_include_tag 'web/filings'
= javascript_include_tag 'web/fair_participants'
- content_for :header do
  %h3
    = t('.hello_participant_text')

.row
  .col-md-11
    = render 'hat'

.row
  .col-md-4.col-md-offset-2
    = simple_form_for @fair_part, url: fair_participants_path, method: :post, html: { class: 'form-horizontal' } do |f|
      = f.hint t('hints.users.new.require_fields')
      = f.input :email, placeholder: t('placeholders.user.email')
      = f.input :role, as: :hidden, input_html: { value: :fair_participant }
      = f.input :first_name
      = f.input :patronymic, as: :string
      = f.input :last_name
      = f.input :birth_date, as: :date_picker
      = f.input :municipality
      = f.input :locality, as: :string, placeholder: t('placeholders.user.locality')
      = f.input :postcode, as: :string
      = f.input :school, as: :string, placeholder: t('placeholders.user.school')
      = f.input :group, as: :string
      = f.input :mobile_phone, as: :string, placeholder: t('placeholders.user.mobile_phone')
      = f.input :life_goals
      = f.input :fair_goals
      = f.input :avatar
      = f.input :state, as: :hidden, input_html: { value: User.state_machines[:state].states.map(&:name).first }
      != t('hints.users.new.accept_agreement')
      = f.input :accept_agreement, as: :boolean
      = f.button :submit, t('.send_request'), id: 'send_request', data: { disabled: { info: t('.you_should_enter_one_of_creative_works_inputs') } }
