.row
  .col-md-4.col-md-offset-2
    = simple_form_for @event, url: { controller: 'web/account/events', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :description
      = f.input :place
      = f.input :begin_date, as: :date_picker
      = f.input :end_date, as: :date_picker
      = f.button :submit
