= javascript_include_tag 'web/account/events'
.row
  .col-md-4.col-md-offset-2
    = simple_form_for @event, url: { controller: 'web/account/events', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :description
      = f.input :place, as: :string
      = f.input :begin_date, as: :datetime_picker
      = f.input :end_date, as: :datetime_picker
      = f.input :user_id, as: :hidden, input_html: { value: current_user.id  }
      = f.button :submit, t('helpers.links.save')
      = link_to t('helpers.links.back'), account_root_path, class: "btn"
