%html
  %head
    = render 'layouts/web/shared/head'
    = stylesheet_link_tag 'web/admin/application'
    = javascript_include_tag 'web/admin/application'
  %body
    = render 'layouts/web/shared/admin_navbar'
    .container
      = bootstrap_flash
      #content
        %h2= yield :header
        = yield
